################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VertmarketsChallenge/.vs
/VertmarketsChallenge/VertmarketsChallenge/bin/Debug/net8.0
/VertmarketsChallenge/VertmarketsChallenge/obj
/VertmarketsChallenge/VertmarketsServices/bin/Debug/net8.0
/VertmarketsChallenge/VertmarketsServices/obj
